@keyframes tooltip {
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
}

body {
  color: #2f80ed;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 32.5rem;
  min-height: 100vh;
  overflow: hidden;
}

.mainInfo {
  margin: 3.1rem 0 1.9rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 520px;
  max-height: 190px;
  user-select: none;
}

.mainText {
  min-width: 27rem;
  padding: .6rem 0 0 0;
  font-size: 7.5rem;
  font-weight: normal;
  text-align: center;
  user-select: none;
}

[tooltip] {
  position: relative;
}

[tooltip]::before, [tooltip]::after {
  opacity: 0;
}

[tooltip]:hover::before {
  visibility: visible;
  position: absolute;
  content: attr(tooltip);
  top: 10.6rem;
  left: 0;
  padding: .6rem;
  max-width: 27rem;
  font-size: 1rem;
  border-radius: .5ch;
  background: #fff;
  color: #2f80ed;
  border: 2px solid #2f80ed;
  animation: tooltip .5s ease-in-out forwards;
}

[tooltip]:hover::after {
  visibility: visible;
  position: absolute;
  z-index: 1;
  content: '';
  width: .1em;
  height: .1em;
  background-color: #fff;
  transform: rotate(45deg);
  top: 1.36em;
  left: 47%;
  border-top: 2px solid #2f80ed;
  border-left: 2px solid #2f80ed;
  animation: tooltip .5s ease-in-out forwards;
}

.footer {
  text-align: center;
}

.bottomText {
  padding: 16rem 0 0 0;
  font-size: 1rem;
  font-style: normal;
}

.link {
  background-color: transparent;
  color: #2f80ed;
  transition: opacity .5s;
  margin: 0 0 0 .3em;
}

.link:hover {
  opacity: .3;
}

@media screen and (min-width: 1921px) {
  :root {
    font-size: 20px;
  }
  .image {
    max-width: 720px;
    max-height: 270px;
  }
}

@media screen and (max-width: 520px) {
  :root {
    font-size: 12px;
  }
  .image {
    max-width: 320px;
    max-height: 120px;
  }
}

@media screen and (max-width: 321px) {
  :root {
    font-size: 10px;
  }
  [tooltip]:hover::before {
    max-width: 26rem;
  }
  .image {
    max-width: 250px;
    max-height: 100px;
  }
}


